#all2{ 
  top: 0;
  width: 100%;
  position:relative;
  overflow: hidden;
  z-index: 15;
  background-color: white;
}
#all{
  position: relative;z-index: 5;
  background-color: whitesmoke;
}
#title{
  background-color: rgba(19, 70, 179, 0.575);
  height: 200px;
  width: 1055px;
  text-align: center;
  align-items: center;
  margin: 5% auto 15% auto;
}

.subject{
  background-color: white;
  text-decoration: none;
  position: relative;top: -350px;
  margin: 5% auto 15% auto;
  font-size: 1vw;
}
.mainButton a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 50%;
  width: 500px;
}

.mainButton a:hover {
  background-color: #ddd;
  color: black;
}


  body{
    margin:-20px;
    margin-top: -30px;
    overflow: hidden;
    height: 1485px;
    background-color: whitesmoke;
    background-image: url(./Images/CSimage6.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: 100% 100%;
  position: relative;top: 0px;
  z-index: -1;
  }

.address{
  position: relative;
  color: black;
  z-index: 5;
}

  /*General*/
body * {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

ul li {
  border: none !important;
}

.topnav {
  background-color: white;
  overflow: hidden;
  position: relative;
  z-index: 30;
  transition: top 0.3s;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: blue;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 650px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .address{
    position: relative;left: 0px;
  }
  .topnav{
    overflow: hidden;
    z-index: 2;
  }
}

.LeadingImage{
  margin-bottom: -10px;
  margin-top: -10px;
}

@media screen and (max-width: 768px) {
  .middleTexts{
    font-size: 2vw;
  }
  .pageDown{
    position:relative;
    overflow: hidden;
    bottom: -150px;
    height: 700px;
    overflow-y: hidden;
  }
  .map-responsive{
    width: 100vw;
    height: 30px;
    position: relative;left: -200px;top: -300px;
  }
  h3{
    position: relative;bottom: 100px;left: 300px;
  }
  #contactsDown{
    position: relative;top: 50px;left: -250px;
  }
  .pageDownMail{
    position: relative;top: -300px;left: -200px;
  }
  .pageDownPhone{
    position: relative;
    top: -310px;right: 0px;
  }
  .bottom{
    position: relative;top: 50px;left: 30px;
  }
  .imgParcerias{
    position: absolute;left: 310px;
    width: 300px;
  }
  .bottomTextAutoral{
    text-align: left;
    position: relative;left: -350px;top: -600px;
  }
  h1{
    position: relative;
    width: 650px;
    font-size: 3vw;
    text-align: center;
    left: 245px;
  }
  body{
    height: 1200px;
  }
}
@media screen and (max-width: 600px){
  .middleTexts{
    position: relative;
  }
  .pageDownMail{
    position: relative;top: 0px;
  }
  .pageDownPhone{
    position: relative;
    top: 0px;right: 0px;
  }
  .talk{
    position: relative;left: 315px;
  }
  h1{
    width: 450px;
    position: relative;
  }
  .mainButton{
    margin: 5% auto 15% auto;
    position: relative;
    font-size: 2vw;
    top: 120px;
  }
  .imgParcerias{
    position: absolute;left: 280px;
  }
  .bottomTextAutoral{
    text-align: center;
    position: relative;left: -405px;top: -400px;
    font-size: 2vw;
  }
  .pageDown{
    position:relative;
    overflow: hidden;
    bottom: -65px;
    height: 0px;
    overflow-y: hidden;
    height: 700px;
  }
  .bottom{
    position: relative;top: 100px;left: -50px;
  }
  #contactsDown{
    position: relative;top: 0px;left: -215px;
  }
  .map-responsive{
    position: relative;top: 200px;left: -200px;
  }
}
.talk{
  position: relative;right: -300px;top: -300px;
}

.phone{
  position: relative;top: 290px;left: -278px;
}

.mail{
  position: relative;top: 205px;left: -200px;
}

.map-responsive{
  position: relative;right: 255px;top: 32px;
}

.bottom{
  bottom: 0;
  height: 100px;
}
.pageDown{
  background-color: rgb(247, 146, 64);
  height: 850px;
  z-index: 3; 
  position: relative;left: -20px;bottom: 120px;
  width: 1400px;
  margin-bottom: -10px;
  overflow: hidden;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 110%;
}
.imgParcerias{
  position: relative;right: -700px;top: 0px;
  margin: 10px;
}
.bottomTextAutoral{
  position: relative;top: 635px;
  z-index: 20;
  background-color: white;
  text-align: center;
}
.pageDownPhone{
  position: relative;top: -310px;left: 300px;
}
.pageDownMail{
  position: relative;top: -300px;left: 300px;
}